<hr />
<div class="container">
  <!-- <p>Aqui é a lista de links!</p>
  <p>Menu minimizado? {{ minimize }}</p> -->
  
  <!-- laço com os links recebidos -->
  <div *ngFor="let link of links; let i = index">
    <div [ngClass]="{'active' : link.isActive, 'menu-options-show': link.isExpanded}">
      <div [ngClass]="{'menu-options-disabled' : !link.isEnabled}" class="menu-options" *ngIf="link.icon && link.isVisible" >
        <span class="material-icons menu-options__icons">{{ link.icon }}</span>
        <span>{{ link.text }}</span>
        <span *ngIf="!link.isEnabled" class="material-icons icon-padlock"> https </span>
        <span (click)="dropOptions(i)" [class.rotate-arrow-up]="link.isExpanded" *ngIf="link.children.length > 0" class="material-icons arrow-down">
          arrow_drop_down
        </span>
      </div>
    </div>
    
    <div class="child-options" [ngClass]="link.children && link.isExpanded ? 'child-options-show' : ''">
      <div *ngFor="let child of link.children">
        <div [ngClass]="{'child-options__text-disabled' : !child.isEnabled}" class="child-options__text"  *ngIf="child.isVisible">
          <span>{{ child.text }}</span>
          <span *ngIf="!child.isEnabled" class="material-icons icon-padlock"> https </span>
        </div>
      </div>
    </div>
  </div>
  <!-- laço com os links recebidos end -->
</div>
<hr />
