.container {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.logo {
  display: flex;
  align-items: center;
  &__image {
    width: 75%;
    height: 10%;
  }

  &__icon {
    width: 20%;
    cursor: pointer;
  }
}

.user {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: sans-serif;
  
  &__icon-name {
    background-color: #6ccf97;
    color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__infos-user {
    width: 80%;
    display: flex;
    flex-direction: column;
  }

  &__text-name {
    color: black;
    font-size: 16px;
  }

  &__text-role {
    color: gray;
    font-size: 12px;
  }
}

.add-list {
  display: flex;
  align-items: center;
  margin-top: 10px;
  background-color: #15b35a;
  color: white;
  border-radius: 100px;
  height: 45px;
  width: 200px;
  padding-right: 5px;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 14px;
}